{%extends "backtoschool/sidebar.html"%}

{%block content%}
<br>
<div class="container" style="margin-left: 45% ;margin-top: 12%" >
	<p>Are You Sure you want to delete <span style="color: red">{{obj.subject_name }}</span>  Ass..</p>
	<form action="" method="post">
		{%csrf_token%}
		<input class="btn btn-dark btn-sm"type="submit" name="submit" value="Yes">

		<a href="{%url 'view_assignment'%}"><button type="button" class="btn btn-light btn-sm" style="color:black">No</button></a>
	</form>
{%endblock%}
</div>