<div class="content">
   <div class=" bo" style="margin-bottom:20%;">
      <div class="row">
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-white  mb-3" style="background-color:#2b537b">
              <div class="card-header">
                <h5 class="card-title">Total Student</h5>

              </div>
              <div class="card-body">
                <h3 class="card-title">{{Total_students}}</h3>
              </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col-md">
          <div class="card text-center text-white  mb-3" style="background-color:  #5b88b5
">
              <div class="card-header">
                <h5 class="card-title">Boys</h5>
              </div>
              <div class="card-body">
                <h3 class="card-title">{{Total_boys}}</h3>
              </div>
          </div>
        </div>
      </div>

         <div class="col">
          <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-pending" style="background-color: #df4eb1">
                <div class="card-header">
                  <h5 class="card-title">Girls</h5>
                </div>
                <div class="card-body">
                  <h3 class="card-title">{{Total_girls}}</h3>
                </div>
            </div>
         </div>
      </div>
    </div>
  </div>

</div>